<!DOCTYPE html>
<html>
<head><link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.js"></script></head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Standard Meta -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

<!-- Site Properties -->
<title>Chubibo</title>

<style type="text/css">
  body {
    background-color: #f9f9f9;
  }
  body > .grid {
    height: 100%;
  }
  .image {
    margin-top: -100px;
  }
  .column {
    max-width: 2000px;
  }
  h2 {
    color: #6d0d1b;
  }
  h3 {
    color: #0b512c;
  }
  b {
    color: #0b512c;
  }
</style>

<script>
  $(document)
    .ready(function() {
      $('.ui.form')
        .form({
          fields: {
            email: {
              identifier  : 'email',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your e-mail'
                },
                {
                  type   : 'email',
                  prompt : 'Please enter a valid e-mail'
                }
              ]
            },
          }
        })
      ;
    })
  ;
  </script>
 <script type="text/javascript">
$(document).ready(function(){
     $('#sbutton').click(function(){
        $('#submit').modal('show');    
     });
});
  </script>
</head>

<body>
<div class="ui middle aligned center aligned grid">
  <div class="ui two column grid">
    <!--LOGIN PART-->
    <div class="four wide left aligned column">
    {% load static %}
    <center><a href="{% url 'hello' %}"><img src="{% static 'images/chubibth.png' %}" width="270px"/></a>
    <div class="ui cards">

      <div class="card">
        <div class="content">
          <h3>October 29: General Assembly</h3>
          <div class="description">
            This month's GA will be focused on waste management. A talk by Engr. July Yap would start the assembly. 
          </div>
        </div>
        <div class="content">
          <h3>November 7: Dorm Fees</h3>
          <div class="description">
            Please settle all your accountancies before the said date to avoid any inconvenience.
          </div>
        </div>
      </div>
        <div class="card">
        <div class="ui vertical buttons">
        <a href="{% url 'submit' %}"><button class="ui button" id="sbutton"> <i class="hourglass half icon"></i>Submit a permit </button></a>
        <a href="{% url 'guests' %}"><button class="ui button"> <i class="users icon"></i>Form for visitors</button></a>
      </div>
      </div>

    </div>
    </div>
    <!--Announcements-->    
    <div class="nine wide left aligned column">
    <div class="ui huge form">
    <div class="field">
    <label for="snum"><h2>Student Number</h2></label>
    <div class="ui left icon input"> <i class="user icon"></i>
    <input type="text" id="snum" placeholder="2014-12345"/>
    <a href="{% url 'hello' %}"><div class="ui huge button" onclick="getLocations('Main');">Enter</div></a>
    </div>
    </div>
    </div>
    <br>
    <table class="ui very basic table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Time</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
     <tr>
        <td><b>GALANG, Francis Adrian R.</b></td>
        <td>1:21 AM</td>
        <td><i class="green circle icon"></i></td>
      </tr>
      <tr>
        <td><b>SIMON, Paola Faith T.</b></td>
        <td>11:59 PM</td>
        <td><i class="green circle icon"></i></td>
      </tr>
      <tr>
        <td><b>HERNANDEZ, Jaye Marlice S.</b></td>
        <td>10:04 PM</td>
        <td><i class="green circle icon"></i></td>
      </tr>
      <tr>
        <td><b>CO, Clarence David I.</b></td>
        <td>1:16 PM</td>
        <td><i class="green circle icon"></i></td>
      </tr>
            <tr>
        <td><b>SIMON, Paola Faith T.</b></td>
        <td>10:19 AM</td>
        <td><i class="red circle icon"></i></td>
      </tr>
      <tr>
        <td><b>GALANG, Francis Adrian R.</b></td>
        <td>9:21 AM</td>
        <td><i class="red circle icon"></i></td>
      </tr>
      <tr>
        <td><b>HERNANDEZ, Jaye Marlice S.</b></td>
        <td>8:50 AM</td>
        <td><i class="red circle icon"></i></td>
      </tr>
      <tr>
        <td><b>CO, Clarence David I.</b></td>
        <td>8:43 AM</td>
        <td><i class="red circle icon"></i></td>
      </tr>
    </tbody>
  </table>

    </div> <!--nine wide-->
  </div>
</div>
</div>

</body>

</html>
