<!DOCTYPE html>
<html>
<head><link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.js"></script></head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Standard Meta -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

<!-- Site Properties -->
<title>Login Example - Semantic</title>

<style type="text/css">
  body {
    background-color: #f9f9f9;
  }
  body > .grid {
    height: 100%;
  }
  .image {
    margin-top: -100px;
  }
  .column {
    max-width: 2000px;
  }
  h1 {
    color: #6d0d1b;
  }
  .header {
    color: #6d0d1b;
  }
    h2 {
    color: #6d0d1b;
  }
  h3 {
    color: #0b512c;
  }
  b {
    color: #0b512c;
  }
</style>

</head>

<body>
    <!--LOGIN PART-->
<br><br><br><br><br><br><br><br><br><br>
         {% load static %}
   <center> <a href="{%url 'hello'%}"><img src="{% static 'images/chubibth.png' %}"/></a></center>

</body>

</html>
